body {
    font-family: 'Gentium Book Plus', serif;
}

main {
    flex: 1 0 auto;
}

img {
    object-fit: cover;
}

.bg-beige {
    background-color: #FFF8E8;
}

.bg-emerald {
    background-color: #004A36;
}

.text-light-blue {
    color: #DEEFFF;
}

.border-light-blue {
    border-color: #DEEFFF;
}